/*
* Variable name rules: [color_dominant]-[color_name]
* Use this tool for get the name of a color: http://chir.ag/projects/name-that-color/
* Sublime Text plugin: https://github.com/mattfordham/Name-That-Color---Sublime-Plugin
*/

$white = #fff
$white-alabaster = #fbfbfb

$grey-wildsand = #f5f5f5
$grey-alto = #dbdbdb
$grey-silver = #cccccc
$grey-dustygray = #9b9b9b
$grey-dovegray = #727272
$grey-outerspace = #373A3C

$green-apple = #61A737
$red-cherry = #c50000

$red-guardsman = #c50000

$main-color = $grey-outerspace