$thin = 100
$light = 300
$regular = 400

$medium = 600
$bold = 700
$ultra-bold = 900

$base-font-size = 16px

$main-font = 'Open Sans', 'Helvetica', sans-serif

rem($size)
  $size / $base-font-size

$big = rem(26px)rem
$tall = rem(20px)rem
$x-normal = rem(18px)rem
$normal = rem(15px)rem
$small = rem(13px)rem